{% extends 'main.html' %}

{% block content %}

<div class="container">
    <dd><h2>โปรดส่งใครมาช่วยฉันที</h2>
    <p><FONT SIZE=3 COLOR=#0502ad>ส่งเรื่องราวของคุณมา แล้วเราจะติดต่อกลับไป</FONT></p>
    <input type="text" size="40" id="txtMessage" name="txtMessage" placeholder="ข้อความที่จะฝากไว้ให้เธอ"> </br>
    <input type="text" size="40" id="txtName" name="txtName" placeholder="บอกชื่อเธอกับฉัน"> </br>
    </br>
    <button type="button" id="btnSendMsg" style="background-color:#0377fc ; 
    color:white ; border: none ; border-radius: 4px ; width:40px; height:35px" >ส่ง</button> 
</div>

{% endblock %}